
<div class="login">
    <h1 class="text-center">LOGIN FORM</h1>

    <form [formGroup]="userLogin" (ngSubmit)="login()">
        <div class="form-group">
            <label class="form-label" for="acno">Account Number</label>
            <input formControlName="acno" name="acno" class="form-control" type="text" id="acno" required >
            <div class="text-danger"
            *ngIf="this.userLogin.get('acno')?.errors &&this.userLogin.get('acno')?.touched">
        Invalid Account Number</div>
        </div>
        <div class="form-group">
            <label class="form-label" for="password">Password</label>
            <input formControlName="psw" class="form-control" name="psw" type="text" id="psw" required>
            <div class="text-danger"
            *ngIf="this.userLogin.get('psw')?.errors &&this.userLogin.get('psw')?.touched">
        Invalid Password</div>
        </div>
        <div class="form-group form-check">
            <input  type="checkbox" id="check">
            <label  for="cheeck">Remember me</label>
        </div>
        <div class="pass"><a href="#">Forgot Password?</a></div>
        <input type="submit" class="btn btn-success w-100" value="LOGIN">
        <div class="signup-link">Not a member? <a class="a" routerLink="register">Register now</a></div>
    </form>
</div>
