/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("./assets/pexels-guilherme-rossi-1755683.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}