*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.login{
    background: whitesmoke;
    width: 360px;
    height: min-content;
    padding: 20px;
    border-radius: 16px;
}
.login h1{
    font-size: 36px;
    margin-bottom: 25px;
}
.login form{
    font-size: 20px;
}
.login form .form-group{
    margin-bottom: 12px;
}
.login form input[type="submit"]{
    font-size: 20px;
    margin-top: 15px;
}
button{
    justify-content: center;
}
.pass a{
    font-size: small;
    text-decoration: none;
}
a{
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.text-center{
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.aim{
    color: whitesmoke;
    margin-left: -17px;
}